{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "about.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "service.html" . }}

{{ partial "skill.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "blog.html" . }}

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/14540359.js"></script>
<!-- End of HubSpot Embed Code -->

{{ end }}
